*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'BIZ UDMincho', serif;
}
form{
    margin-left: 200px;
    margin-top: 50px;
}
form h3{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}

.boxContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid rgb(230, 198, 245);
    border-radius: 18px;

}
input{
    border: 2px solid rgb(230, 198, 245);
    height: 40px;
    width: 200px;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 20px;
    justify-content: center;
    padding: 0px 10px;
}
.slide-btn{
    margin-top: 10px;
}
.search-box{
    width: 450px;
    border: none;
    padding: 0px 5px;
    border-radius: 50px;
}
.search-text{
    font-size: 20px;
    font-weight: bold;
    color: rgb(76, 27, 122);
}
.slide-btn{
    border-radius: 5px;
    background-color: rgb(152, 89, 165);
    color: white;
    padding: 0px 10px;

}